[submodule "modules/dongry"]
	path = modules/dongry
	url = git://github.com/wakaba/dongry
[submodule "modules/perl-json-functions-xs"]
	path = modules/perl-json-functions-xs
	url = git://github.com/wakaba/perl-json-functions-xs
[submodule "modules/perl-web-useragent-functions"]
	path = modules/perl-web-useragent-functions
	url = git://github.com/wakaba/perl-web-useragent-functions
[submodule "t/modules/test-x1"]
	path = t/modules/test-x1
	url = git://github.com/wakaba/perl-test-x1
